@font-face {
	font-family: 'Mightype';
	src: url('./assets/font/Mightype/MightypeScript/MightypeScript.otf');
}
@font-face {
	font-family: 'Canvas';
	src: url('./assets/font/Canvas/SalvadorCondensed/TheSalvador-Condensed.otf')
}
body {
	height: 100%;
	overflow: auto;
}
.container {
	width: 100%;
	padding: 0;
	height: auto;
  max-height:100%;
  overflow: hidden;
}

.bg {
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
  z-index: -1;
  position: absolute;
	min-width: 1000px;
	min-height: 1000px;
	margin-top: -170px;
}
@media only screen and (min-width: 400px) {
    .bg {
        min-width: 700px;

    }
}
.forestImg {
	position: absolute;
	min-width: 1000px;
	width: 100%;
	background-size: cover;
	z-index: 0;
}

a {
	color: white;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	color: #a85277;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:active {
	text-decoration: none;
  color: white;
}
.aboutIntro {
	height: 400px
}
.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
	margin-bottom: 5%;
	color: white;
	font-family: 'Canvas';
}
.btn-primary-outline:hover {
	background-color: transparent;
	color: #89043D;
}
