h1,h2,h3 {
font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Cabin', sans-serif;
}

span {
  font-weight: bold;
}

.blueButton {
  background-color: #007eb6;
  color: #FFFFFF;
  font-weight: bold;
  margin: 2% 0% 2% 0%;
  text-decoration: none;
}
.whiteButton {
  background-color: #FFFFFF;
  color:  #007eb6;
  font-weight: bold;

  margin: 2% 0% 2% 0%;
  text-decoration: none;
}
.ReferFriendForm {
  marginBottom: 10%;
  color: black;
}
